@font-face {
    font-family: 'pf_beausans_probold';
    src: url('./fonts/pfbeausanspro-bold-webfont.eot');
    src: url('./fonts/pfbeausanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/pfbeausanspro-bold-webfont.woff2') format('woff2'),
         url('./fonts/pfbeausanspro-bold-webfont.woff') format('woff'),
         url('./fonts/pfbeausanspro-bold-webfont.ttf') format('truetype'),
         url('./fonts/pfbeausanspro-bold-webfont.svg#pf_beausans_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_beausans_problack';
    src: url('./fonts/pfbeausanspro-black-webfont.eot');
    src: url('./fonts/pfbeausanspro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/pfbeausanspro-black-webfont.woff2') format('woff2'),
         url('./fonts/pfbeausanspro-black-webfont.woff') format('woff'),
         url('./fonts/pfbeausanspro-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
*, *:before, *:after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
body {
	font-family: 'PT Sans Caption', Arial,  sans-serif;
	color: #444;
	font-size: 14px;
	line-height: 24px;
	margin: 0 auto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.pageWrapper {
	width: 100%;
}
.container {
	width: 940px;
	margin: 0 auto;
}
.sprite {
    background-image: url('./sprite.png');
    background-repeat: no-repeat;
    display: block;
}
.row {
	margin-right: -10px;
  	margin-left: -10px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	position: relative;
  	margin-right: 10px;
  	margin-left: 10px;
	float: left;
	min-height: 1px;
}
.col-12 {
  	width: 940px;
}
.col-11 {
  	width: 860px;
}
.col-10 {
  	width: 780px;
}
.col-9 {
  	width: 700px;
}
.col-8 {
  	width: 620px;
}
.col-7 {
  	width: 540px;
}
.col-6 {
  	width: 460px;
}
.col-5 {
  	width: 380px;
}
.col-4 {
  	width: 300px;
}
.col-3 {
  	width: 220px;
}
.col-2 {
  	width: 140px;
}
.col-1 {
  	width: 60px;
}
h1 {
	color: #000;
	font-size: 36px;
	font-family: 'pf_beausans_problack', Arial,  sans-serif;
}
h1:after {
	content: '';
	background-image: url('./sprite.png');
    background-repeat: no-repeat;
    display: block;
    width: 150px;
    height: 5px;
    background-position: -158px -35px;
    margin-top: 22px;
}
h2 {
	color: #000;
	font-size: 24px;
	font-family: 'pf_beausans_probold', Arial,  sans-serif;
}
h2:after {
	content: '';
	background-image: url('./sprite.png');
    background-repeat: no-repeat;
    display: block;
    width: 150px;
    height: 3px;
    background-position: -158px -50px;
    margin-top: 20px;
}
h3 {
	color: #000;
	font-weight: bold;
	font-size: 18px;
}
ul li {
	list-style-type: none;
}
ul li:before {
	content: '';
	background: url('./square-marker.png') center center no-repeat;
	padding-right: 20px;
}
li {
	line-height: 20px;
}
a {
	color: #00695c;
	text-decoration: none;
}
a:hover,
a:focus {
	text-decoration: underline;
}
a:active {
	text-decoration: underline;
}
a:visited {
	text-decoration: none;
}
label {
	font-family: 'PT Sans Caption', Arial,  sans-serif;
	color: #bbb;
	font-size: 14px;
	line-height: 37px;
}
input {
	width: 398px;
	height: 40px;
	border: 1px solid #000;
	outline: none;
	font-family: 'PT Sans Caption', Arial,  sans-serif;
	color: #000;
	font-size: 14px;
	line-height: 37px;
	padding-left: 13px;
}
input:focus {
	border: 1px solid #00bfa5;
}
input::-webkit-input-placeholder {
	color: #bbb;
}
input:-moz-placeholder {
	color: #bbb;
}
select{
   width: 398px;
	height: 40px;
	border: 1px solid #000;
	outline: none;
	font-family: 'PT Sans Caption', Arial,  sans-serif;
	color: #000;
	font-size: 14px;
	line-height: 37px;
	padding-left: 13px;
}
textarea {
	width: 398px;
	height: 100px;
	resize: none;
	border: 1px solid #000;
	outline: none;
	padding: 10px;
}
textarea:focus {
	border: 1px solid #00bfa5;
}
.disabled-input {
	border: 1px solid #bbb;
}
.validation-failed {
	border: 1px solid #f50057;
	color: #f50057;
}
.validation-failed:focus {
	border: 1px solid #f50057;
}
.button-black {
	display: inline-block;
	min-width: 170px;
	height: 40px;
	color: #fff;
	background-color: #000;
	text-align: center;
	line-height: 40px;
	transition-property: background-color;
	transition-duration: 0.4s;
	transition-timing-function: ease;
}
.button-black:hover,
.button-black:focus {
	background-color: #777;
	text-decoration: none;
	transition-property: background-color;
	transition-duration: 0.4s;
	transition-timing-function: ease;
}
.button-black:active {
	background-color: #444;
}
.button-white {
	display: inline-block;
	min-width: 168px;
	height: 38px;
	border: 1px solid #000;
	color: #000;
	background-color: #fff;
	text-align: center;
	line-height: 39px;
	transition-property: border;
	transition-duration: 0.4s;
	transition-timing-function: ease;
}
.button-white:hover,
.button-white:focus {
	border: 1px solid #777;
	text-decoration: none;
	transition-property: border;
	transition-duration: 0.4s;
	transition-timing-function: ease;
}
.button-white:active {
	border: 1px solid #777;
	background-color: #eee;
}
.button-red {
	display: inline-block;
	min-width: 170px;
	height: 40px;
	color: #fff;
	background-color: #f50057;
	text-align: center;
	line-height: 40px;
	transition-property: background-color;
	transition-duration: 0.4s;
	transition-timing-function: ease;
}
.button-red:hover,
.button-red:focus {
	background-color: #ff4081;
	text-decoration: none;
	transition-property: background-color;
	transition-duration: 0.4s;
	transition-timing-function: ease;
}
.button-red:active {
	background-color: #c50046;
}
.button-green {
	display: inline-block;
	min-width: 170px;
	height: 40px;
	color: #fff;
	background-color: #00bfa5;
	text-align: center;
	line-height: 40px;
	transition-property: background-color;
	transition-duration: 0.4s;
	transition-timing-function: ease;
}
.button-green:hover,
.button-green:focus {
	background-color: #00e6c7;
	text-decoration: none;
	transition-property: background-color;
	transition-duration: 0.4s;
	transition-timing-function: ease;
}
.button-green:active {
	background-color: #00695c;
}
input[type="radio"],
input[type="checkbox"]{
	display: none
}
.radio-label,
.check-label{
	color: #000;
}
.check-label:before {
	content: "";
    display: inline-block;
    height: 18px;
    width: 18px;
    border: solid 1px #000;
    line-height: 18px;
    margin: -15px 10px -3px 0;
    cursor: pointer;
}
.check-label :checked:active{
	content: "";
	display: block;
	background-image: url(spritesheet.png);
	background-position: 0 -14px;
    width: 10px;
    height: 8px;
    background-position: -72px -4px;
    position: absolute;
}
.check1:checked{
	content: "";
	background-image: url(spritesheet.png);
    width: 10px;
    height: 8px;
    background-position: -72px -4px;
    position: absolute;


}
.radio-label:before {
	content: "";
    border: solid 1px #000;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: inline-block;
    line-height: 18px;
    margin: -15px 10px -3px 0;
    cursor: pointer;
}
.field-radio input:checked+label:before{
	background-image: url("spritesheet.png");
    width: 18px;
    height:18px;
    background-position: -114px -4px;
    display: inline-block;
    margin-top: -2px;
}
ol { 
	counter-reset: item; 
}
li { 
	display: block; 
}
li:before { 
	content: counters(item, ".") ". "; 
	counter-increment: item; 
}
.notification{
	position: relative;
	display: block;
	height: 50px;
	color: #fff;
	padding-left: 43px;
	line-height: 50px;
}
.alert-box-error{
	background-color: #f50057;
}
.alert-box-success{
	background-color: #00bfa5;
}
.alert-box-info{
	background-color: #eee;
	border: 1px solid #000;
	color: #000;
	line-height: 50px;
}
.notification-success{
	background-image: url(sprite.png);
    width: 16px;
    height: 16px;
    background-position: -279px -231px;
    float: left;
    position: absolute;
    left: 17px;
    top: 17px;
    bottom: 17px;
}
.notification-error{
	background-image: url(sprite.png);
    width: 16px;
    height: 16px;
    background-position: -227px -231px;
    float: left;
    position: absolute;
    left: 17px;
    top: 17px;
    bottom: 17px;
}
.notification-info{
	background-image: url(sprite.png);
    width: 16px;
    height: 16px;
    background-position: -253px -231px;
    float: left;
    position: absolute;
    left: 17px;
    top: 17px;
    bottom: 17px;
}
.close {
	background-image: url(sprite.png);
    width: 10px;
    height: 10px;
    background-position: -317px -130px;
    float: right;
    position: absolute;
    right: 20px;
    top: 20px;
    bottom: 20px;
    cursor: pointer;
}
.close-b{
	background-image: url(sprite.png);
    width: 10px;
    height: 10px;
    background-position: -317px -110px;
    float: right;
    position: absolute;
    right: 20px;
    top: 20px;
    bottom: 20px;
    cursor: pointer;
}
/*HEADER BEGIN*/
.italic-txt {
	font-style: italic;
}
.logotype {
	position: absolute;
	left: 0;
	margin-left: 32px;
	width: 140px;
    height: 53px;
    background-position: -158px -63px;
    opacity: 1;
    transition-property: opacity;
	transition-duration: 0.4s;
	transition-timing-function: ease;
}
.logotype:hover,
.logotype:focus {
	opacity: .5;
	transition-property: opacity;
	transition-duration: 0.4s;
	transition-timing-function: ease;
}
.logotype:active {
    background-position: -5px -126px;
}
.logotype:visited {
	background-position: -158px -63px;
	opacity: 1;
}
.logotype-txt {
	display: none;
}
.header {
	padding-top: 22px;
}
.header-menu {
	text-align: center;
}
.header-menu__item {
	display: inline-block;
	font-size: 18px;
	margin: 0 17px;
}
.header-menu__item a {
	color: #000;
}
.header-menu__item a:hover,
.header-menu__item a:focus {
	text-decoration: none;
	font-weight: bold;
}
.header-menu__item a:visited {
	text-decoration: none;
	font-weight: normal;
}
.header-menu__item a:active {
	color: #00ac94;
}
.header-menu__item:before {
	background: none;
	padding: 0;
}
.sub-menu-wrap {
	height: 60px;
	background-color: #000;
	line-height: 60px;
}
.sub-menu {
	text-align: center;
}
.sub-menu ul {
	margin-top: 27px;
	padding: 0;
}
.sub-menu.study .sub-menu__item {
	margin: 0 32px;
}
.sub-menu.about-school .sub-menu__item {
	margin: 0 62px;
}
.sub-menu__item {
	display: inline-block;
}
.sub-menu__item:before {
	background: none;
	padding: 0;
}
.sub-menu__item.current {
	font-size: 18px;
	color: #00bfa5;
	font-weight: bold;
}
.sub-menu__item a {
	font-size: 18px;
	color: #fff;
}
.sub-menu__item a:hover,
.sub-menu__item a:focus {
	text-decoration: none;
	font-weight: bold;
}
.sub-menu__item a:active {
	color: #00bfa5;
}
.sub-menu__item a:visited {
	text-decoration: none;
	font-weight: normal;
}
.header-socials {
	position: absolute;
	right: 0;
	margin: 13px 32px 0 0;
}
.header-behance {
	display: inline-block;
	width: 26px;
    height: 16px;
    background-position: -5px -5px;
    margin-right: 12px;
    opacity: 1;
}
.header-vimeo {
	display: inline-block;
	width: 14px;
    height: 12px;
    background-position: -365px -88px;
    margin-right: 21px;
    opacity: 1;
}
.header-facebook {
	display: inline-block;
	width: 8px;
    height: 18px;
    background-position: -133px -5px;
    opacity: 1;
}
.header-socials a:hover,
.header-socials a:focus {
	opacity: .5;
	transition-property: opacity;
	transition-duration: 0.4s;
	transition-timing-function: ease;
}
.header-behance:active {
    background-position: -41px -5px;
}
.header-behance:visited {
	background-position: -5px -5px;
	opacity: 1;
}
.header-vimeo:active {
    background-position: -389px -88px;
}
.header-vimeo:visited {
	background-position: -365px -88px;
	opacity: 1;
}
.header-facebook:active {
    background-position: -151px -5px;
}
.header-facebook:visited {
	background-position: -133px -5px;
	opacity: 1;
}
/*HEADER END*/
/* TEACHER INFO BEGIN */
.teacher-info__block {
	display: inline-block;
	margin-right: 100px;
	width: 250px;
	height: auto;
	vertical-align: top;
}
.teacher-info__link {
	display: block;
	border-bottom: 3px solid #000;
	transition-property: border-bottom;
	transition-duration: 0.4s;
	transition-timing-function: ease;
}
.teacher-info__link:hover,
.teacher-info__link:focus,
.teacher-info__link:active,
.teacher-info__link:visited {
	text-decoration: none;
}
.teacher-info__link:hover,
.teacher-info__link:focus,
.teacher-info__link:active {
	border-bottom: 3px solid #00bfa5;
	transition-property: border-bottom;
	transition-duration: 0.4s;
	transition-timing-function: ease;
}
.block-title {
	font-size: 18px;
	color: #000;
	margin: 102px 0 34px 0;
}
.teacher-info__name {
	display: block;
	font-weight: bold;
	font-size: 18px;
	color: #000;
	margin: 14px 0 5px 0;
}
.teacher-info__desc {
	margin-top: 12px; 
}
/* TEACHER INFO END */

.image-container{
	height: auto;
	width: 296px;
	display: inline-block;
    margin-right: 21px;
	padding-bottom: 80px;
}
#last{
	margin: 0;
}
.behance.icon{
	content: "";
	position: absolute;
	display: inline-block;
	background-image: url(behance.png);
    margin-top: 0;
    margin-right: 0;
}
footer{
	background-color: #000;
	height: 287px;
	display: block;
	clear: both;
	color: #fff;
	top: 30px;
}
.footer-logo{
	margin-top: 36px;
}
footer ul li:before{
	display: none;
    content: none;
    line-height: 20px; 
    float: left;
    padding-left: 0;
}
footer a{
	color: #fff;
	line-height: 30px;
}
footer a:hover{
	color: #00a58e;
	text-decoration: none;
}
.footer-ul{
	padding: 0;
	margin-top: 36px;
}
footer h3{
	color: #fff;
}
.breaking-web{
	background-image: url(sprite.png);
    width: 80px;
    height: 83px;
    background-position: -365px -110px;
    border: 0;
    margin-top: 36px;
    margin-right: 10px;
    color:#000;
    padding: 0;
}
.footer-behance{
	background-image: url(sprite.png);
	width: 26px;
    height: 16px;
    background-position: -169px -5px;
    display: inline-block;
    margin-right: 5px;
}
.footer-facebook{
    background-image: url(sprite.png);
    width: 11px;
    height: 20px;
    background-position: -205px -5px;
    display: inline-block;	
    margin-right: 5px;
}
.footer-vimeo{
	background-image: url(sprite.png);
	width: 15px;
    height: 12px;
    background-position: -226px -5px;
    display: inline-block;
}
#footicons{
	float: right;
	display: block;
}
.socicons{
	margin-top: 100px;
	width: 80px;
}

/*EVENT BLOCK BEGIN*/
.event-info {
	margin-left: -12px;
}
.event-info__date {
	margin-top: -7px;
	font-family: 'Open Sans', Arial,  sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: 777;
}
.event-info__title {
	margin: 16px 0 40px 0;
}
.event-info .button-green {
	float: right;
	margin-top: 17px;
}
/*EVENT BLOCK END*/
/*COURSES LIST BEGIN*/
.courses-list__block {
	display: inline-block;
	margin-right: 90px;
	width: 250px;
	height: auto;
	vertical-align: top;
	margin-bottom: 80px;
}
.courses-list__block:last-child {
	margin: 0;
}
.courses-list__link {
	display: block;
	border-bottom: 3px solid #000;
	margin-bottom: 5px;
}

/*Info_desk*/


.courses-list__link:hover,
.courses-list__link:focus,
.courses-list__link:active,
.courses-list__link:visited {
	text-decoration: none;
}
.courses-list__link:hover,
.courses-list__link:focus,
.courses-list__link:active {
	border-bottom: 3px solid #00bfa5;
	transition-property: border-bottom;
	transition-duration: 0.4s;
	transition-timing-function: ease;
}
.courses-list__name {
	display: block;
	font-weight: bold;
	font-size: 18px;
	color: #000;
	margin: 14px 0 5px 0;
}
.courses-list__start {
	display: inline-block;
	width: 75px;
}
.courses-list__length {
	display: inline-block;
	width: 105px;
}
.courses-list__price {
	display: inline-block;
}
.courses-info__desc {
	font-family: 'PT Sans Caption', Arial,  sans-serif;
	font-weight: bold;
	color: #212121;
	line-height: 28px;
}

/*Info_desk*/

.events_info_title{
	font-size: 18px;
	color: #000;
	margin: 102px 0 34px 0;

}


.events_info_block {
	display: inline-block;
	margin-right: 100px;
	width: 250px;
	height: auto;





}
.inside_info {
	display: block;
	border-bottom: 3px solid #232323;

	transition-property: border-bottom;
	transition-duration: 0.4s;
	transition-timing-function: ease;
}

table{
	width:250px;
	padding:0px;
	color:#444;
	margin-left: -3px;

}
tr{
	text-align: right;

}
th{
	text-align: left;
}

.inside_info:hover,
.inside_info:focus,
.inside_info:active,
.inside_info:visited {
	text-decoration: none;
}

.events_info_block :hover,
.events_info_block :focus,
.events_info_block :active{
	background-color:  #d9f3f0;
	transition-property: border-bottom;
	transition-duration: 0.4s;
	transition-timing-function: ease;
	text-decoration: none;

}

.events_info_block a:hover,
.events_info_block a:focus,
.events_info_block a:active{
	
	text-decoration: none;


}
.inside_info span{
	color: #000;
	display: block;
	font-weight: bold;
	font-size: 18px;
	margin: 14px 0 5px 0;

}
.events_info_img{
	display: block;
}


/*End of infodesk*/


.afisha_menu a{
	
  color:black;
  
}
.afisha_element img{
	margin-bottom: 21px;
}


.afisha_element_description{
	border-bottom: 3px solid black;

}
.afisha_element_description span{
	font-weight: bold;

	
}


.afisha_element{
	margin: auto;
	margin-bottom: auto;
	margin-top: auto;
	height: auto;
	width: 252px;
	height: 418px;
}
.span_name{
	margin-bottom: 11px;
}

.afisha_element_hover{
	width:276px;
	height:452px;
	padding-top:17px;
	padding-bottom: 17px; 

}

.header_afisha{

	
	margin-left: auto;
	margin-right: auto;

}

.afisha_element_hover:hover,
.afisha_element_hover:focus,
.afisha_element_hover:active {

	background-color:  #d9f3f0;
	transition-property: border-bottom;
	transition-duration: 0.4s;
	transition-timing-function: ease;
	text-decoration: none;

}
td{
	font-weight: bold;
}
th{
	font-weight: normal;
}

