@font-face {
    font-family: 'pf_beausans_probold';
    src: url('./fonts/pfbeausanspro-bold-webfont.eot');
    src: url('./fonts/pfbeausanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/pfbeausanspro-bold-webfont.woff2') format('woff2'),
         url('./fonts/pfbeausanspro-bold-webfont.woff') format('woff'),
         url('./fonts/pfbeausanspro-bold-webfont.ttf') format('truetype'),
         url('./fonts/pfbeausanspro-bold-webfont.svg#pf_beausans_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_beausans_problack';
    src: url('./fonts/pfbeausanspro-black-webfont.eot');
    src: url('./fonts/pfbeausanspro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/pfbeausanspro-black-webfont.woff2') format('woff2'),
         url('./fonts/pfbeausanspro-black-webfont.woff') format('woff'),
         url('./fonts/pfbeausanspro-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
*, *:before, *:after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
body {
	font-family: 'PT Sans Caption', Arial,  sans-serif;
	color: #444;
	font-size: 14px;
	line-height: 24px;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.pageWrapper {
	width: 100%;
}
.container {
	width: 940px;
	margin: 0 auto;
}
.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}
.row {
	margin-right: -10px;
  	margin-left: -10px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	position: relative;
  	margin-right: 10px;
  	margin-left: 10px;
	float: left;
}
.col-12 {
  	width: 940px;
}
.col-11 {
  	width: 860px;
}
.col-10 {
  	width: 780px;
}
.col-9 {
  	width: 700px;
}
.col-8 {
  	width: 620px;
}
.col-7 {
  	width: 540px;
}
.col-6 {
  	width: 460px;
}
.col-5 {
  	width: 380px;
}
.col-4 {
  	width: 300px;
}
.col-3 {
  	width: 220px;
}
.col-2 {
  	width: 140px;
}
.col-1 {
  	width: 60px;
}
h1 {
	color: #000;
	font-size: 36px;
	font-family: 'pf_beausans_problack', Arial,  sans-serif;
}
h2 {
	color: #000;
	font-size: 24px;
	font-family: 'pf_beausans_probold', Arial,  sans-serif;
}
h3 {
	color: #000;
	font-weight: bold;
	font-size: 18px;
}
ul li {
	list-style-type: none;
}
ul li:before {
	content: '';
	background: url('./square-marker.png') center center no-repeat;
	padding-right: 20px;
}
li {
	line-height: 20px;
}
a {
	color: #00695c;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
label {
	font-family: 'PT Sans Caption', Arial,  sans-serif;
	color: #bbb;
	font-size: 14px;
	line-height: 37px;
}
input {
	width: 398px;
	height: 40px;
	border: 1px solid #000;
	outline: none;
	font-family: 'PT Sans Caption', Arial,  sans-serif;
	color: #000;
	font-size: 14px;
	line-height: 37px;
	padding-left: 13px;
}
input:focus {
	border: 1px solid #00bfa5;
}
input::-webkit-input-placeholder {
	color: #bbb;
}
input:-moz-placeholder {
	color: #bbb;
}
select{
   width: 398px;
	height: 40px;
	border: 1px solid #000;
	outline: none;
	font-family: 'PT Sans Caption', Arial,  sans-serif;
	color: #000;
	font-size: 14px;
	line-height: 37px;
	padding-left: 13px;
}
textarea {
	width: 398px;
	height: 100px;
	resize: none;
	border: 1px solid #000;
	outline: none;
	padding: 10px;
}
textarea:focus {
	border: 1px solid #00bfa5;
}
.disabled-input {
	border: 1px solid #bbb;
}
.validation-failed {
	border: 1px solid #f50057;
	color: #f50057;
}
.validation-failed:focus {
	border: 1px solid #f50057;
}
.sprite{
	background: url(spritesheet.png) no-repeat;
	display: block;

}
.button-black {
	width: 170px;
	height: 40px;
	color: #fff;
	background: #000;
	text-align: center;
	line-height: 40px;
}
.button-black:hover {
	background: #777;
}
.button-black:active {
	background: #444;
}
.button-white {
	width: 168px;
	height: 38px;
	border: 1px solid #000;
	color: #000;
	background: #fff;
	text-align: center;
	line-height: 39px;
}
.button-white:hover {
	border: 1px solid #777;
}
.button-white:active {
	border: 1px solid #777;
	background: #eee;
}
.button-red {
	width: 170px;
	height: 40px;
	color: #fff;
	background: #f50057;
	text-align: center;
	line-height: 40px;
}
.button-red:hover {
	background: #ff4081
}
.button-red:active {
	background: #c50046;
}
.button-green {
	width: 170px;
	height: 40px;
	color: #fff;
	background: #00bfa5;
	text-align: center;
	line-height: 40px;
}
.button-green:hover {
	background: #00e6c7
}
.button-green:active {
	background: #00695c;
}
input[type="radio"],
input[type="checkbox"]{
	display: none
}
.radio-label,
.check-label{
	color: #000;
}
.check-label span{
    background-image: url(spritesheet.png);
    background-position: -156px -4px;
    display: inline-block;
    height: 18px;
    width: 18px;
    line-height: 18px;
    margin: -15px 10px -3px 0;
    cursor: pointer;
}
.check-label input:checked + span {
    background-image: url(spritesheet.png);
    background-position: -130px -4px;
}
.radio-label span{
	background-image: url(spritesheet.png);
    background-position: -300px -270px;
    width: 18px;
    height: 18px;
    display: inline-block;
    line-height: 18px;
    margin: -15px 10px -3px 0;
    cursor: pointer;
}
.radio-label input:checked + span{
    background-image: url(spritesheet.png);
    background-position: -326px -270px;
}
ol { 
	counter-reset: item; 
}
li { 
	display: block; 
}
li:before { 
	content: counters(item, ".") ". "; 
	counter-increment: item; 
}
.notification{
	position: relative;
	display: block;
	width: 460px;
	height: 50px;
	color: #fff;
	padding-left: 43px;
	line-height: 50px;
}
.alert-box-error{
	background-color: #f50057;
}
.alert-box-success{
	background-color: #00bfa5;
}
.alert-box-info{
	background-color: #eee;
	border: 1px solid #000;
	color: #000;
	line-height: 50px;
}
.notification-success{
	background-image: url(spritesheet.png);
    width: 16px;
    height: 16px;
    background-position: -324px -246px;
    float: left;
    position: absolute;
    left: 17px;
    top: 17px;
    bottom: 17px;
}
.notification-error{
	background-image: url(spritesheet.png);
    width: 16px;
    height: 16px;
    background-position: -4px -246px;
    float: left;
    position: absolute;
    left: 17px;
    top: 17px;
    bottom: 17px;
}
.notification-info{
	background-image: url(spritesheet.png);
    width: 16px;
    height: 16px;
    background-position: -300px -246px;
    float: left;
    position: absolute;
    left: 17px;
    top: 17px;
    bottom: 17px;
}
.close {
	background-image: url(spritesheet.png);
	width: 10px;
    height: 10px;
    background-position: -328px -228px;
    float: right;
    position: absolute;
    right: 20px;
    top: 20px;
    bottom: 20px;
    cursor: pointer;
}
.close-b{
	background-image: url(spritesheet.png);
	width: 10px;
    height: 10px;
    background-position: -328px -210px;
    float: right;
    position: absolute;
    right: 20px;
    top: 20px;
    bottom: 20px;
    cursor: pointer;
}
/*.logo{
    background-image: url(spritesheet.png);
	width: 140px;
    height: 53px;
    background-position: -152px -116px;
    position: absolute;
    cursor: pointer;
    left: 32px;
    top: 20px;
    opacity: 1,0;
}
.logo:hover{
	opacity: 0,6;
}
.logo:active{
    background-image: url(spritesheet.png);
	width: 140px;
    height: 53px;
    background-position: -4px -116px;
}
=======
/* TEACHER INFO BEGIN */
.teacher-info__block {
	display: inline-block;
	margin-right: 100px;
	width: 250px;
	height: auto;
}
.teacher-info__link {
	display: block;
	border-bottom: 3px solid #000;
	transition-property: border-bottom;
	transition-duration: 0.4s;
	transition-timing-function: ease;
}
.teacher-info__link:hover,
.teacher-info__link:focus,
.teacher-info__link:active,
.teacher-info__link:visited {
	text-decoration: none;
}
.teacher-info__link:hover,
.teacher-info__link:focus,
.teacher-info__link:active {
	border-bottom: 3px solid #00bfa5;
	transition-property: border-bottom;
	transition-duration: 0.4s;
	transition-timing-function: ease;
}
.teacher-info__title {
	font-size: 18px;
	color: #000;
	margin: 102px 0 34px 0;
}
.teacher-info__name {
	display: block;
	font-weight: bold;
	font-size: 18px;
	color: #000;
	margin: 14px 0 5px 0;
}
.teacher-info__desc {
	margin-top: 12px; 
}
/* TEACHER INFO END */

