body {
	font-family: 'PT Sans Caption', Arial,  sans-serif;
	color: #444;
	font-size: 14px;
	line-height: 24px;
}
h1 {
	color: #000;
	font-size: 36px;
}
h2 {
	color: #000;
	font-size: 24px;
}
h3 {
	color: #000;
	font-weight: bold;
	font-size: 18px;
}
ul li {
	list-style-type: none;
}
ul li:before {
	content: '';
	background: url('./square-marker.png') center center no-repeat;
	padding-right: 20px;
}
li {
	line-height: 20px;
}
a {
	color: #00695c;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}